html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 24px;
	user-select: none;
	color: rgb(59, 29, 29);
	background-color: #dadde3;
}

#container {
	margin: 40px auto;
	max-width: 320px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container_icon {
	max-width: 200px;
}










table,

td {
	border: 1px solid black;
}

#flex {
	display: flex;
	flex-direction: column;
}